<!DOCTYPE html>
<html lang="en">
<style>
    a {
        text-decoration: none;

        font-size: 16px;
    }
</style>
<head>
    <meta charset="UTF-8">
</head>
<body>
<div>
    <h2>Tadow又更新啦！</h2>
    <ul>
        {% for blog in blogs %}
            <li>
                <a href="{{ blog.url }}">
                    {{ blog.filename }} &nbsp;
                    {% if blog.status == 'modified' %}
                        <span style="color:#52bcee">[Upd]</span>
                    {% endif %}
                    {% if blog.status == 'added' %}
                        <span style="color:#78ac6b">[New]</span>
                    {% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>